@use "../rhythm" as * with (
  $default-baseline: 0.112061 // for Noto serif font family
);

$gutter-width: 16px;
$heading-font: (
  font-size: 38px,
  line-height: 6,
  font-weight: 700
);
$heading-h2-font: (
  font-size: 24px,
  line-height: 4,
  font-weight: 700
);
$subheading-font: (
  font-size: 22px,
  line-height: 4,
  font-weight: 400
);
$paragraph-font: (
  font-size: 16px,
  line-height: 3
);
$card-heading-font: (
  font-size: 20.5px,
  line-height: 3,
  font-weight: 700
);
$card-button-font: (
  font-size: 15px,
  line-height: 2
);

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 16px/1 "Noto Serif", serif;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.1) $global-rhythm-size,
    transparent $global-rhythm-size
  );
  background-size: 100% $global-rhythm-size * 2;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 640px;
  padding-top: baseline-top($heading-font, 10);
  padding-right: $gutter-width;
  padding-bottom: baseline-bottom($paragraph-font, 7);
  padding-left: $gutter-width;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  @include font(
    $heading-font,
    (
      margin-bottom: $subheading-font 6
    )
  );
}

.heading-h2 {
  @include font(
    $heading-h2-font,
    (
      margin-top: $paragraph-font 6,
      margin-bottom: $paragraph-font 5 -1px
    )
  );

  display: table;
  border-bottom: 1px solid;
}

.subheading {
  @include font(
    $subheading-font,
    (
      margin-bottom: $paragraph-font 6
    )
  );
}

.paragraph {
  @include font($paragraph-font);

  + .paragraph {
    margin-top: baseline-between($paragraph-font, $paragraph-font, 5);
  }
}

.fake-image {
  height: rhythm(40);
  margin-top: rhythm-top($paragraph-font, 3);
  margin-bottom: rhythm-bottom($paragraph-font, 5);
  background: rgba(gray, 0.5);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: rhythm-top($paragraph-font, 3);
  margin-right: -$gutter-width - rhythm(8);
  margin-bottom: rhythm-bottom($paragraph-font, 2);
  margin-left: -$gutter-width - rhythm(8);
}

.grid {
  flex: 1 0 50%;
  max-width: 50%;
  padding-right: $gutter-width;
  padding-left: $gutter-width;
  margin-bottom: rhythm(3);
}

.card {
  padding: rhythm(2, -1px) rhythm(2);
  border: 1px solid rgba(gray, 0.5);
  border-radius: 4px;

  &__heading {
    @include font(
      $card-heading-font,
      (
        margin-bottom: $paragraph-font 4
      )
    );
  }

  &__content {
    @include font(
      $paragraph-font,
      (
        margin-bottom: 2
      )
    );
  }

  &__fake-image {
    height: rhythm(12);
    margin-bottom: rhythm-bottom($card-heading-font, 4);
    background: rgba(gray, 0.5);
  }

  &__button {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    height: rhythm(5);
    padding: 0;
    padding-right: rhythm(3);
    padding-left: rhythm(3);
    font-family: inherit;
    cursor: pointer;
    background: rgba(gray, 0.5);
    border: none;
    border-radius: 2px;

    @include font(
      $card-button-font,
      (
        padding-top: 3
      )
    );
  }
}

.list {
  margin-top: baseline-between($paragraph-font, $paragraph-font, 5);
  margin-bottom: baseline-between($paragraph-font, $paragraph-font, 5);

  li {
    @include font($paragraph-font);

    &:not(:last-child) {
      margin-bottom: baseline-between($paragraph-font, $paragraph-font, 4);
    }
  }
}
