@use "sass:map";
@use "sass:math";
@use "sass:meta";
@use "sass:list";

// ------------------ //
//  Global Variables  //
// ------------------ //

$default-baseline: 0 !default;
$global-rhythm-size: 8px !default;
$global-rem-size: 16px !default;

// ---------------------- //
//  Validation Functions  //
// ---------------------- //

@function _validate-font-size($value) {
  @if meta.type-of($value) == number {
    @return $value;
  } @else if $value == null {
    @error "Missing font-size value.";
  } @else {
    @error "Invalid font-size value: '#{$value}'. Expected number but got '#{meta.type-of($value)}'.";
  }
}

@function _validate-rhythms($value) {
  @if _is-unitless-integer($value) {
    @return $value;
  } @else {
    @error "Invalid $rhythms value: '#{$value}'. It must be a unitless integer.";
  }
}

@function _validate-line-height($value) {
  @if _is-unitless-integer($value) {
    @return $value;
  } @else if $value == null {
    @error "Missing line-height value.";
  } @else {
    @error "Invalid line-height value: '#{$value}'. The line-height key represents the numbers of rhythms, it must be a unitless integer.";
  }
}

@function _validate-baseline($value) {
  @if meta.type-of($value) == number and $value > 0 and $value < 1 {
    @return $value;
  } @else {
    @error "Invalid baseline ratio: '#{$value}'. It must be a decimal number between 0 and 1.";
  }
}

@function _validate-unused-property($used-property, $property) {
  @if $used-property == null or $used-property == $property {
    @return $property;
  } @else {
    @error "Can not calculate rhythms for both '#{$used-property}' and '#{$property}' at the same time.";
  }
}

// ------------------- //
//  Private Functions  //
// ------------------- //

@function _is-unitless-integer($value) {
  @return meta.type-of($value) == number and math.is-unitless($value) and $value % 1 == 0;
}

@function _convert-font-size-unit-to-rem-unit($value) {
  $_font-unit: math.unit($value);
  $_rhythm-unit: math.unit($global-rhythm-size);

  @if math.unit($global-rem-size) != px {
    @error "Can only accept the '$global-rem-size' value in pixel.";
  } @else if $_font-unit == $_rhythm-unit {
    @return $value;
  } @else if $_font-unit == rem and $_rhythm-unit == px {
    @return $value / 1rem * $global-rem-size;
  } @else if $_font-unit == px and $_rhythm-unit == rem {
    @return $value / $global-rem-size * 1rem;
  } @else {
    @error "Can not convert the font-size value '#{$value}' to the same unit of the $global-rhythm-size value '#{$global-rhythm-size}'.";
  }
}

@function _first($list) {
  @return list.nth($list, 1);
}

@function _rest($list) {
  $_result: ();

  @if list.length($list) >= 2 {
    @for $i from 2 through list.length($list) {
      $_result: list.append($_result, list.nth($list, $i));
    }
  }

  @return $_result;
}

@function _calc-baseline-height($font-map, $direction) {
  $_font-size: _validate-font-size(map.get($font-map, font-size));
  $_font-size: _convert-font-size-unit-to-rem-unit($_font-size);
  $_line-height: _validate-line-height(map.get($font-map, line-height));
  $_baseline: _validate-baseline(map.get($font-map, baseline) or $default-baseline);
  $_half-space: ($global-rhythm-size * $_line-height - $_font-size) / 2;
  $_height: 0 !default;

  @if $direction == "top" {
    $_height: $_half-space + $_font-size * (1 - $_baseline);
  } @else if $direction == "bottom" {
    $_height: $_half-space + $_font-size * $_baseline;
  } @else {
    @error "The '_calc-baseline-height' function requires a direction argument of 'top' or 'bottom'.";
  }

  @return if(math.unit($global-rhythm-size) == "rem", $_height, math.round($_height));
}

@function _calc-height-with-offset($height, $offset) {
  @if $offset == 0 {
    @return $height;
  } @else if math.unit($height) == math.unit($offset) {
    @return $height + $offset;
  } @else if $offset > 0 {
    @return calc(#{$height} + #{$offset});
  } @else {
    @return calc(#{$height} - #{math.abs($offset)});
  }
}

// ------------------ //
//  Public Functions  //
// ------------------ //

@function rhythm($rhythms, $offset: 0) {
  $_rhythms-height: _validate-rhythms($rhythms) * $global-rhythm-size;

  @return _calc-height-with-offset($_rhythms-height, $offset);
}

@function rhythm-top($font-map, $rhythms, $offset: 0) {
  $_rhythms-height: _validate-rhythms($rhythms) * $global-rhythm-size;

  @return _calc-height-with-offset($_rhythms-height - _calc-baseline-height($font-map, "bottom"), $offset);
}

@function rhythm-bottom($font-map, $rhythms, $offset: 0) {
  $_rhythms-height: _validate-rhythms($rhythms) * $global-rhythm-size;

  @return _calc-height-with-offset($_rhythms-height - _calc-baseline-height($font-map, "top"), $offset);
}

@function baseline-top($font-map, $rhythms, $offset: 0) {
  @return rhythm-bottom($font-map, $rhythms, $offset);
}

@function baseline-bottom($font-map, $rhythms, $offset: 0) {
  @return rhythm-top($font-map, $rhythms, $offset);
}

@function baseline-between($above-font-map, $below-font-map, $rhythms, $offset: 0) {
  @return _calc-height-with-offset(
    baseline-bottom($above-font-map, $rhythms) - _calc-baseline-height($below-font-map, "top"),
    $offset
  );
}

// -------- //
//  Mixins  //
// -------- //

@mixin font($font-map, $properties-map: ()) {
  $_font-size: _validate-font-size(map.get($font-map, font-size));
  $_rhythms: _validate-line-height(map.get($font-map, line-height));

  font-size: $_font-size;
  line-height: $global-rhythm-size * $_rhythms;

  @each $_property in map.keys(map.remove($font-map, font-size, line-height, baseline)) {
    #{$_property}: map.get($font-map, $_property);
  }

  $_used-top-property: null;
  $_used-bottom-property: null;

  @each $_property in map.keys($properties-map) {
    $_value: map.get($properties-map, $_property);

    @if $_property == margin-top or $_property == padding-top {
      $_used-top-property: _validate-unused-property($_used-top-property, $_property);

      @if meta.type-of(_first($_value)) == map {
        #{$_property}: baseline-between(_first($_value), $font-map, _rest($_value)...);
      } @else {
        #{$_property}: baseline-top($font-map, $_value...);
      }
    } @else if $_property == margin-bottom or $_property == padding-bottom {
      $_used-bottom-property: _validate-unused-property($_used-bottom-property, $_property);

      @if meta.type-of(_first($_value)) == map {
        #{$_property}: baseline-between($font-map, _first($_value), _rest($_value)...);
      } @else {
        #{$_property}: baseline-bottom($font-map, $_value...);
      }
    } @else {
      @error "Unsupported property '#{$_property}' in $properties-map.";
    }
  }
}
