* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font: 16px/1 "Noto Serif", serif;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 640px;
  padding-top: 41px;
  padding-right: 16px;
  padding-bottom: 50px;
  padding-left: 16px;
  margin-right: auto;
  margin-left: auto;
}

.heading {
  font-size: 38px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 14px;
}

.heading-h2 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  margin-top: 17px;
  margin-bottom: 14px;
  display: table;
  border-bottom: 1px solid;
}

.subheading {
  font-size: 22px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 23px;
}

.paragraph {
  font-size: 16px;
  line-height: 24px;
}
.paragraph + .paragraph {
  margin-top: 16px;
}

.fake-image {
  height: 320px;
  margin-top: 18px;
  margin-bottom: 22px;
  background: rgba(128, 128, 128, 0.5);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 18px;
  margin-right: -80px;
  margin-bottom: -2px;
  margin-left: -80px;
}

.grid {
  flex: 1 0 50%;
  max-width: 50%;
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 24px;
}

.card {
  padding: 15px 16px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 4px;
}
.card__heading {
  font-size: 20.5px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.card__content {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}
.card__fake-image {
  height: 96px;
  margin-bottom: 12px;
  background: rgba(128, 128, 128, 0.5);
}
.card__button {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 40px;
  padding: 0;
  padding-right: 24px;
  padding-left: 24px;
  font-family: inherit;
  cursor: pointer;
  background: rgba(128, 128, 128, 0.5);
  border: none;
  border-radius: 2px;
  font-size: 15px;
  line-height: 16px;
  padding-top: 10px;
}

.list {
  margin-top: 16px;
  margin-bottom: 16px;
}
.list li {
  font-size: 16px;
  line-height: 24px;
}
.list li:not(:last-child) {
  margin-bottom: 8px;
}

:root {
  position: relative;
}
:root::after {
  position: absolute;
  inset: 0;
  z-index: 2147483647;
  pointer-events: none;
  content: "";
  background-image: linear-gradient(to bottom, rgba(255, 120, 120, 0.25) 8px, transparent 8px);
  background-size: 100% 16px;
}
