@use "sass:map";
@use "sass:meta";
@use "true" as *;
@use "font-maps" as *;
@use "../src/lib" as *;

$config: (
  baseline-ratio: 0.112061,
  rhythm-size: 8px,
  rem-size: 16px
);

@include test-module("Test validation functions:") {
  @include test("is-valid-baseline-ratio") {
    @include assert-equal(is-valid-baseline-ratio(1), false);
    @include assert-equal(is-valid-baseline-ratio(0), false);
    @include assert-equal(is-valid-baseline-ratio(-0.1), false);
    @include assert-equal(is-valid-baseline-ratio(1.5), false);
    @include assert-equal(is-valid-baseline-ratio(0.1), true);
    @include assert-equal(is-valid-baseline-ratio(0.5), true);
    @include assert-equal(is-valid-baseline-ratio(0.999), true);
  }

  @include test("is-valid-rhythms") {
    @include assert-equal(is-valid-rhythms(1), true);
    @include assert-equal(is-valid-rhythms(0), true);
    @include assert-equal(is-valid-rhythms(-1), true);
    @include assert-equal(is-valid-rhythms(-5), true);
    @include assert-equal(is-valid-rhythms(1.5), false);
    @include assert-equal(is-valid-rhythms(1px), false);
    @include assert-equal(is-valid-rhythms(""), false);
  }

  @include test("has-valid-unit") {
    @include assert-equal(has-valid-unit(1px), true);
    @include assert-equal(has-valid-unit(1rem), true);
    @include assert-equal(has-valid-unit(1pt), true);
    @include assert-equal(has-valid-unit(1cm), true);
    @include assert-equal(has-valid-unit(1em), false);
    @include assert-equal(has-valid-unit(1vw), false);
    @include assert-equal(has-valid-unit(1vh), false);
  }

  @include test("ensure-valid-font-map") {
    $_font-map: (
      font-size: 16px,
      line-height: 5
    );

    @include assert-equal(ensure-valid-font-map($_font-map), $_font-map);
  }

  @include test("ensure-valid-rhythms") {
    @include assert-equal(ensure-valid-rhythms(5), 5);
  }

  @include test("ensure-valid-offset") {
    @include assert-equal(ensure-valid-offset(0), 0);
    @include assert-equal(ensure-valid-offset(0.112061), 0.112061);
    @include assert-equal(ensure-valid-offset(1px), 1px);
    @include assert-equal(ensure-valid-offset(-1px), -1px);
    @include assert-equal(ensure-valid-offset(1rem), 1rem);
    @include assert-equal(ensure-valid-offset(1pt), 1pt);
  }
}

@include test-module("Test calculation functions:") {
  @include test("convert-font-size-to-rhythm-unit") {
    @include assert-equal(convert-font-size-to-rhythm-unit(10px, $config), 10px);
    @include assert-equal(convert-font-size-to-rhythm-unit(1rem, $config), 16px);

    $config-1: map.merge(
      $config,
      (
        rhythm-size: 0.5rem
      )
    );

    @include assert-equal(convert-font-size-to-rhythm-unit(16px, $config-1), 1rem);

    $config-2: map.merge(
      $config,
      (
        rhythm-size: 10pt
      )
    );

    @include assert-equal(convert-font-size-to-rhythm-unit(16pt, $config-2), 16pt);
  }

  @include test("calc-baseline-above-height") {
    @include assert-equal(calc-baseline-above-height($font-map-1, $config), 29px);
  }

  @include test("calc-baseline-below-depth") {
    @include assert-equal(calc-baseline-below-depth($font-map-1, $config), 11px);
  }

  @include test("calc-height-with-offset") {
    @include assert-equal(calc-height-with-offset(20px, 0), 20px);
    @include assert-equal(calc-height-with-offset(20px, 1px), 21px);
    @include assert-equal(calc-height-with-offset(20px, -1px), 19px);
    @include assert-equal(meta.inspect(calc-height-with-offset(2rem, 1px)), meta.inspect(calc(2rem + 1px)));
    @include assert-equal(meta.inspect(calc-height-with-offset(2rem, -1px)), meta.inspect(calc(2rem - 1px)));
    @include assert-equal(calc-height-with-offset(0, 0), 0);
    @include assert-equal(calc-height-with-offset(-5px, 0), -5px);
    @include assert-equal(calc-height-with-offset(2rem, 0), 2rem);
    @include assert-equal(calc-height-with-offset(2rem, 0.5rem), 2.5rem);
  }

  @include test("get-baseline-ratio") {
    $_font-map-with-ratio: (
      font-size: 16px,
      line-height: 3,
      baseline-ratio: 0.2
    );
    $_font-map-without-ratio: (
      font-size: 16px,
      line-height: 3
    );

    @include assert-equal(get-baseline-ratio($_font-map-with-ratio, $config), 0.2);
    @include assert-equal(get-baseline-ratio($_font-map-without-ratio, $config), 0.112061);
  }

  @include test("calc-baseline-offset") {
    @include assert-equal(calc-baseline-offset($font-map-1, $config, "above"), 29px);
    @include assert-equal(calc-baseline-offset($font-map-1, $config, "below"), 11px);
  }
}

@include test-module("Test list functions:") {
  @include test("first") {
    @include assert-equal(first((1, 2, 3)), 1);
    @include assert-equal(first([1]), 1);
    @include assert-equal(first(1), 1);
  }

  @include test("rest") {
    @include assert-equal(rest((1, 2, 3)), (2 3));
    @include assert-equal(rest([1]), ());
    @include assert-equal(rest(()), ());
  }
}
