@import "true";
@import "./rhythm";

$global-baseline-raito: 0.112061 !global;

$font-map-1: (
  font-size: 17px,
  line-height-rhythm: 3,
  baseline-ratio: 0.112061
);

$font-map-2: (
  font-size: 17px,
  line-height-rhythm: 3
);

$font-map-3: (
  font-size: 12px,
  line-height-rhythm: 2
);

@include test-module("Test helper functions:") {
  @include test("_unit") {
    @include assert-equal(_unit(36px), "px");
    @include assert-equal(_unit(3.6rem), "rem");
  }

  @include test("_calc-baseline-from-bottom") {
    @include assert-equal(_calc-baseline-from-bottom(24px, 5, 0.112061), 11px);
  }

  @include test("_calc-baseline-from-top") {
    @include assert-equal(_calc-baseline-from-top(24px, 5, 0.112061), 29px);
  }

  @include test("_calc-baseline-offset") {
    @include assert-equal(_calc-baseline-offset(24px, 5, 0.112061), 3px);
    @include assert-equal(_calc-baseline-offset(16px, 3, 0.112061), 6px);
  }

  @include test("_calc-top-rhythm-size") {
    @include assert-equal(_calc-top-rhythm-size(1, 0), 8px);
    @include assert-equal(_calc-top-rhythm-size(1, 3px), 3px);
    @include assert-equal(_calc-top-rhythm-size(5, 0), 40px);
    @include assert-equal(_calc-top-rhythm-size(5, 3px), 35px);

    @include assert-equal(_calc-top-rhythm-size(-1, 0), -8px);
    @include assert-equal(_calc-top-rhythm-size(-1, 3px), -5px);
    @include assert-equal(_calc-top-rhythm-size(-5, 0), -40px);
    @include assert-equal(_calc-top-rhythm-size(-5, 3px), -37px);

    @include assert-equal(_calc-top-rhythm-size(0, 7px), 0);
  }

  @include test("_calc-bottom-rhythm-size") {
    @include assert-equal(_calc-bottom-rhythm-size(1, 0), 8px);
    @include assert-equal(_calc-bottom-rhythm-size(1, 3px), 5px);
    @include assert-equal(_calc-bottom-rhythm-size(5, 0), 40px);
    @include assert-equal(_calc-bottom-rhythm-size(5, 3px), 37px);

    @include assert-equal(_calc-bottom-rhythm-size(-1, 0), -8px);
    @include assert-equal(_calc-bottom-rhythm-size(-1, 3px), -3px);
    @include assert-equal(_calc-bottom-rhythm-size(-5, 0), -40px);
    @include assert-equal(_calc-bottom-rhythm-size(-5, 3px), -35px);

    @include assert-equal(_calc-bottom-rhythm-size(0, 7px), 0);
  }

  @include test("_calc-rhythm-size-between") {
    @include assert-equal(_calc-rhythm-size-between($font-map-1, $font-map-3, 3), 6px);
  }
}

@include test-module("Test functions:") {
  @include test("rhythm") {
    @include assert-equal(rhythm(5), 40px);
  }

  @include test("top-rhythm-for") {
    @include assert-equal(top-rhythm-for($font-map-1, 3), 21px);
    @include assert-equal(top-rhythm-for($font-map-2, 3), 21px);
    @include assert-equal(top-rhythm-for($font-map-1, -3), -19px);
    @include assert-equal(top-rhythm-for($font-map-2, -3), -19px);
  }

  @include test("bottom-rhythm-for") {
    @include assert-equal(bottom-rhythm-for($font-map-1, 3), 19px);
    @include assert-equal(bottom-rhythm-for($font-map-2, 3), 19px);
    @include assert-equal(bottom-rhythm-for($font-map-1, -3), -21px);
    @include assert-equal(bottom-rhythm-for($font-map-2, -3), -21px);
  }

  @include test("top-rhythm-between") {
    @include assert-equal(top-rhythm-between($font-map-3, $font-map-1, 3), 6px);
  }

  @include test("bottom-rhythm-between") {
    @include assert-equal(bottom-rhythm-between($font-map-1, $font-map-3, 3), 6px);
  }
}
