@import "true";
@import "./rhythm";

$global-baseline-raito: 0.112061 !global;
$font-map-1: (
  font-size: 24px,
  line-height-rhythm: 5
);
$font-map-2: (
  font-size: 16px,
  line-height-rhythm: 3
);
$font-map-3: (
  font-size: 17px,
  line-height-rhythm: 3,
  baseline-ratio: 0.112061
);
$font-map-4: (
  font-size: 17px,
  line-height-rhythm: 3
);
$font-map-5: (
  font-size: 12px,
  line-height-rhythm: 2
);

@include test-module("Test helper functions:") {
  @include test("_unit") {
    @include assert-equal(_unit(36px), "px");
    @include assert-equal(_unit(3.6rem), "rem");
  }

  @include test("_calc-baseline-from-bottom") {
    @include assert-equal(_calc-baseline-from-bottom($font-map-1), 11px);
  }

  @include test("_calc-baseline-from-top") {
    @include assert-equal(_calc-baseline-from-top($font-map-1), 29px);
  }

  @include test("_calc-baseline-offset") {
    @include assert-equal(_calc-baseline-offset($font-map-1), 3px);
    @include assert-equal(_calc-baseline-offset($font-map-2), 6px);
  }
}

@include test-module("Test functions:") {
  @include test("rhythm") {
    @include assert-equal(rhythm(5), 40px);
    @include assert-equal(rhythm(5, -1px), 39px);
    @include assert-equal(rhythm(5, 1px), 41px);
  }

  @include test("top-rhythm") {
    @include assert-equal(top-rhythm($font-map-3, 3), 21px);
    @include assert-equal(top-rhythm($font-map-4, 3), 21px);
    @include assert-equal(top-rhythm($font-map-4, 3, -1px), 20px);
    @include assert-equal(top-rhythm($font-map-4, 3, 1px), 22px);
    @include assert-equal(top-rhythm($font-map-3, -3), -19px);
    @include assert-equal(top-rhythm($font-map-4, -3), -19px);
    @include assert-equal(top-rhythm($font-map-4, -3, -1px), -20px);
    @include assert-equal(top-rhythm($font-map-4, -3, 1px), -18px);
    @include assert-equal(top-rhythm($font-map-4, 0), 0);
    @include assert-equal(top-rhythm($font-map-4, 0, -1px), -1px);
    @include assert-equal(top-rhythm($font-map-4, 0, 1px), 1px);
  }

  @include test("bottom-rhythm") {
    @include assert-equal(bottom-rhythm($font-map-3, 3), 19px);
    @include assert-equal(bottom-rhythm($font-map-4, 3), 19px);
    @include assert-equal(bottom-rhythm($font-map-4, 3, -1px), 18px);
    @include assert-equal(bottom-rhythm($font-map-4, 3, 1px), 20px);
    @include assert-equal(bottom-rhythm($font-map-3, -3), -21px);
    @include assert-equal(bottom-rhythm($font-map-4, -3), -21px);
    @include assert-equal(bottom-rhythm($font-map-4, -3, -1px), -22px);
    @include assert-equal(bottom-rhythm($font-map-4, -3, 1px), -20px);
    @include assert-equal(bottom-rhythm($font-map-4, 0), 0);
    @include assert-equal(bottom-rhythm($font-map-4, 0, -1px), -1px);
    @include assert-equal(bottom-rhythm($font-map-4, 0, 1px), 1px);
  }

  @include test("mid-rhythm") {
    @include assert-equal(mid-rhythm($font-map-3, $font-map-5, 3), 6px);
    @include assert-equal(mid-rhythm($font-map-3, $font-map-5, 3, -1px), 5px);
    @include assert-equal(mid-rhythm($font-map-3, $font-map-5, 3, 1px), 7px);
  }
}
