@import "true";
@import "./rhythm";

$default-baseline: 0.112061 !global;
$font-map-1: (
  font-size: 24px,
  line-height: 5
);
$font-map-2: (
  font-size: 16px,
  line-height: 3
);
$font-map-2-1: (
  font-size: 1rem,
  line-height: 3
);
$font-map-3: (
  font-size: 17px,
  line-height: 3,
  baseline: 0.112061
);
$font-map-4: (
  font-size: 17px,
  line-height: 3
);
$font-map-5: (
  font-size: 12px,
  line-height: 2
);

@include test-module("Test validation functions:") {
  @include test("_validate-font-size") {
    @include assert-equal(_validate-font-size(16px), 16px);
  }

  @include test("_validate-rhythms") {
    @include assert-equal(_validate-rhythms(8), 8);
  }

  @include test("_validate-line-height") {
    @include assert-equal(_validate-line-height(8), 8);
  }

  @include test("_validate-baseline") {
    @include assert-equal(_validate-baseline(0.112061), 0.112061);
  }

  @include test("_validate-unused-property") {
    @include assert-equal(_validate-unused-property(null, margin-top), margin-top);
    @include assert-equal(_validate-unused-property(margin-top, margin-top), margin-top);
  }
}

@include test-module("Test private functions:") {
  @include test("_is-unitless-integer") {
    @include assert-equal(_is-unitless-integer(0), true);
    @include assert-equal(_is-unitless-integer(10), true);
    @include assert-equal(_is-unitless-integer(-10), true);
    @include assert-equal(_is-unitless-integer(10px), false);
    @include assert-equal(_is-unitless-integer("10px"), false);
  }

  @include test("_convert-font-size-unit") {
    @include assert-equal(_convert-font-size-unit(10px), 10px);
    @include assert-equal(_convert-font-size-unit(1rem), 16px);

    $global-rhythm-size: 0.5rem !global;

    @include assert-equal(_convert-font-size-unit(16px), 1rem);

    $global-rhythm-size: 8px !global;
  }

  @include test("_first") {
    @include assert-equal(_first((1, 2, 3)), 1);
    @include assert-equal(_first([1]), 1);
    @include assert-equal(_first(1), 1);
  }

  @include test("_rest") {
    @include assert-equal(_rest((1, 2, 3)), (2 3));
    @include assert-equal(_rest([1]), ());
    @include assert-equal(_rest(()), ());
  }

  @include test("_calc-bottom-font-height") {
    @include assert-equal(_calc-bottom-font-height($font-map-1), 11px);
  }

  @include test("_calc-top-font-height") {
    @include assert-equal(_calc-top-font-height($font-map-1), 29px);
  }

  @include test("_calc-height") {
    @include assert-equal(_calc-height(20px, 0), 20px);
    @include assert-equal(_calc-height(20px, 1px), 21px);
    @include assert-equal(_calc-height(20px, -1px), 19px);
    @include assert-equal(_calc-height(2rem, 1px), calc(2rem + 1px));
    @include assert-equal(_calc-height(2rem, -1px), calc(2rem - 1px));
  }
}

@include test-module("Test public functions:") {
  @include test("rhythm") {
    @include assert-equal(rhythm(5), 40px);
    @include assert-equal(rhythm(5, -1px), 39px);
    @include assert-equal(rhythm(5, 1px), 41px);

    $global-rhythm-size: 0.5rem !global;

    @include assert-equal(rhythm(5), 2.5rem);
    @include assert-equal(rhythm(5, -1px), calc(2.5rem - 1px));
    @include assert-equal(rhythm(5, 1px), calc(2.5rem + 1px));

    $global-rhythm-size: 8px !global;
  }

  @include test("rhythm-top") {
    @include assert-equal(rhythm-top($font-map-3, 3), 19px);
    @include assert-equal(rhythm-top($font-map-4, 3), 19px);
    @include assert-equal(rhythm-top($font-map-4, 3, -1px), 18px);
    @include assert-equal(rhythm-top($font-map-4, 3, 1px), 20px);
    @include assert-equal(rhythm-top($font-map-2, 3, 1px), rhythm-top($font-map-2-1, 3, 1px));
    @include assert-equal(rhythm-top($font-map-4, 0), -5px);
    @include assert-equal(rhythm-top($font-map-4, -1), -13px);
  }

  @include test("rhythm-bottom") {
    @include assert-equal(rhythm-bottom($font-map-3, 3), 5px);
    @include assert-equal(rhythm-bottom($font-map-4, 3), 5px);
    @include assert-equal(rhythm-bottom($font-map-4, 3, -1px), 4px);
    @include assert-equal(rhythm-bottom($font-map-4, 3, 1px), 6px);
    @include assert-equal(rhythm-bottom($font-map-2, 3, 1px), rhythm-bottom($font-map-2-1, 3, 1px));
    @include assert-equal(rhythm-bottom($font-map-4, 0), -19px);
    @include assert-equal(rhythm-bottom($font-map-4, -1), -27px);
  }

  @include test("baseline-top") {
    @include assert-equal(baseline-top($font-map-3, 3), rhythm-bottom($font-map-3, 3));
    @include assert-equal(baseline-top($font-map-4, 3), rhythm-bottom($font-map-3, 3));
    @include assert-equal(baseline-top($font-map-4, 3, -1px), rhythm-bottom($font-map-4, 3, -1px));
    @include assert-equal(baseline-top($font-map-4, 3, 1px), rhythm-bottom($font-map-4, 3, 1px));
    @include assert-equal(baseline-top($font-map-2, 3, 1px), rhythm-bottom($font-map-2-1, 3, 1px));
    @include assert-equal(baseline-top($font-map-3, 0), rhythm-bottom($font-map-3, 0));
    @include assert-equal(baseline-top($font-map-3, -1), rhythm-bottom($font-map-3, -1));
  }

  @include test("baseline-bottom") {
    @include assert-equal(baseline-bottom($font-map-3, 3), rhythm-top($font-map-3, 3));
    @include assert-equal(baseline-bottom($font-map-4, 3), rhythm-top($font-map-4, 3));
    @include assert-equal(baseline-bottom($font-map-4, 3, -1px), rhythm-top($font-map-4, 3, -1px));
    @include assert-equal(baseline-bottom($font-map-4, 3, 1px), rhythm-top($font-map-4, 3, 1px));
    @include assert-equal(baseline-bottom($font-map-2, 3, 1px), rhythm-top($font-map-2-1, 3, 1px));
    @include assert-equal(baseline-bottom($font-map-3, 0), rhythm-top($font-map-3, 0));
    @include assert-equal(baseline-bottom($font-map-3, -1), rhythm-top($font-map-3, -1));
  }

  @include test("baseline-between") {
    @include assert-equal(baseline-between($font-map-3, $font-map-5, 3), 6px);
    @include assert-equal(baseline-between($font-map-3, $font-map-5, 3, -1px), 5px);
    @include assert-equal(baseline-between($font-map-3, $font-map-5, 3, 1px), 7px);
  }
}

@include test-module("Test mixins:") {
  @include test("font") {
    @include assert {
      @include output {
        @include font(
          (
            font-size: 24px,
            line-height: 5,
            font-weight: 700
          )
        );
      }

      @include expect {
        font-size: 24px;
        line-height: 40px;
        font-weight: 700;
      }
    }

    @include assert {
      @include output {
        @include font(
          $font-map-3,
          (
            margin-top: 3,
            margin-bottom: 3
          )
        );
      }

      @include expect {
        font-size: 17px;
        line-height: 24px;
        margin-top: 5px;
        margin-bottom: 19px;
      }
    }

    @include assert {
      @include output {
        @include font(
          $font-map-3,
          (
            margin-top: $font-map-5 3,
            margin-bottom: $font-map-5 3
          )
        );
      }

      @include expect {
        font-size: 17px;
        line-height: 24px;
        margin-top: 2px;
        margin-bottom: 6px;
      }
    }
  }
}
